# Supabase Configuration
# Replace these values with your actual Supabase project credentials
VITE_SUPABASE_URL=https://stpvrqjfoimkbwwivkqm.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=sb_publishable_HlVJvGwiHasoVg9Jw7pvKw__3pTOCfP
